@media screen and (max-width: 600px) {
  .container h1 {
    font-size: 4vw;
  }
  ul li {
    margin: 0.5rem;
  }
  .logo {
    font-size: 1.5rem;
  }
}

body {
  flex-wrap:wrap ;
  font-size: 16px;
  margin: 0;
  padding: 0;
  background-size: cover;
  background-color: #fffafa;
  color: black;
}
.navbar {
  overflow: hidden;
  background-color: #1a1c20;
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar li a{
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 26px;
  text-decoration: none;
}
.navbar a:hover {
  background: #ddd;
  color: black;
}
.logo {
  font-family: "Sofia", sans-serif;
  font-size: 4rem;
  margin-left: 30px;
  font-weight: bold;
  color: #ff1493;
}

ul {
  display: flex;
  list-style: none;
  margin-right: 20px;
}
ul li {
  text-decoration: none;
  margin: 0 0.75em 0 0.75em;
}
ul:hover a {
  color: rgb(228, 125, 231);
}
ul :hover a :hover {
  color: rgb(16, 10, 22);
  box-shadow: 0 2px 0 0 currentColor;
}

.container {
  display: grid;
  place-content: center;
  text-align: center;
  min-height: 50vh;
  position: relative;
  isolation: isolate;
  margin-top: 130px;
}
.container ::after {
  content: " ";
  position: absolute;
  z-index: -1;
  background: pink;
  inset: 0;
  opacity: 0.4;
  background-image: url(./images/IMG_20230331_155006.jpg);
  background-size: cover;
  background-position: center;
}
.container h1 {
  line-height: 0;
  text-align: center;
  font-size: 6vw;
  color: yellow;
  white-space: nowrap;
  overflow: visible;
  text-overflow: ellipsis;
}
.container p {
  font-size: 3vw;
  text-align: center;
}

.nav-item {
  color: rgb(38, 24, 8);
  padding: 2%;
  text-decoration: none;
  margin: 0 10px;
  z-index: 1;
  font-weight: 300;
  font-size: 4rem;
  position: relative;
  text-transform: none;
  transition: 0.25s ease;
}
.introduction {
  margin: 0 auto;
  text-align: center;
}
.introduction p {
  font-size: 4rem;
}
.introduction h1 {
  line-height: 0px;
  text-align: center;
  width: 100%;
  font-size: 6rem;
  color: rgb(228, 228, 83);
}
.introduction img {
  max-width: 40%;
  height: auto;
}
.tab-menu{
  width: 100%;
  overflow: hidden;
  background-color: #f1f1f1;
}
.tab-menu button{
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 160px;
  transition: 0.3s;
  font-size: 60px;
  font-family: 'Times New Roman', Times, serif;
  /* width: 100%; */
}
.tab-menu button:hover{
  background-color: #ddd;
}
.tab-menu button.active{
  background-color: #ccc;
}
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}
.tabcontent h1{
  line-height: 0;
  text-align: center;
  font-size: 3vw;
  color: rgb(228, 83, 85);
  white-space: nowrap;
  overflow: visible;
  text-overflow: ellipsis;
}
.tabcontent p{
  font-size: 2vw;
  text-align: justify;
}

.font{
  line-height: 0;
  text-align: center;
  font-size: 5rem;
  color: rgb(228, 228, 83);
}
.btn {
  background-color: DodgerBlue;
  border: none;
  color: white;
  padding: 2% 0%;
  cursor: pointer;
  font-size: 300%;
  margin: 0 10%;
}
.btn:hover {
  background-color: RoyalBlue;
}
.btn a{
  color: white;
  text-decoration: none;
}