/* @media only screen and (max-width: 590px) {
  #navbar-menu {
    flex-direction: column;
  }
  .box-menu {
    width: 100%;
    height: 43px;
    font-size: 16px;
  }
}
@media only screen and (min-width: 680px) {
  #navbar-menu {
    flex-direction: row;
  }
  .box-menu {
   
    height: 200px;
    font-size: 32px;
  }
} */

body {
  flex-wrap: wrap;
  font-size: 16px;
  margin: 0;
  padding: 0;
  background-size: cover;
  background-color: #fffafa;
  color: black;
}
.icon {
  float: right;
  display: none;
}
/* ul .dropdown {
  width: 100%;
  border: 1px solid #192433;
  background-color: #192433;
  position: absolute;
  display: none;
}
ul .dropdown ul li{
  background-color: #192433;
  width: 60%;
  bottom: 5vh;
  left: 5vh; 
}
ul .dropdown ul li > ul li{
  background-color: #192433;
  width: 125%;
  left: 1.2vh; 
}
ul .dropdown li {
  display: block;
  color: white;
  border-bottom: 1px solid white;
  padding: 0;
  text-align: center;
  cursor: pointer;
}
li {
  position: relative;
}
ul.dropdown ul {
  display: none;
}
.navbar.bootsnav .scroll:hover > ul {
  display: block;
}
.navbar.bootsnav .scroll .dropdown .scroll:hover > ul {
  display: block;
}
nav.navbar.bootsnav ul.dropdown > li > a:hover,
nav.navbar.bootsnav ul.nav > li > a:focus {
  color: #4e4ffa;/
}
nav.navbar.bootsnav ul.dropdown li > ul li > a:hover,
nav.navbar.bootsnav ul.nav > li > a:focus {
  color: #4e4ffa;/
} */
.introduction {
  margin: 0 auto;
  text-align: center;
}
.introduction p {
  font-size: 4rem;
}
h1 {
  line-height: 0px;
  text-align: center;
  width: 100%;
  font-size: 6rem;
  color: rgb(228, 228, 83);
}
.introduction img {
  max-width: 40%;
  height: auto;
}

*/ .tabcontent {
  padding: 6px 12px;
  border-top: none;
}
.tabcontent h1 {
  line-height: 0;
  text-align: center;
  font-size: 2.2vw;
  color: rgb(228, 83, 85);
  white-space: nowrap;
  overflow: visible;
  text-overflow: ellipsis;
}
.tabcontent p {
  font-size: 1.5vw;
  text-align: justify;
}

.btn {
  background-color: DodgerBlue;
  border: none;
  color: white;
  padding: 1% 0%;
  cursor: pointer;
  width: 20%;
  margin: 0 40%;
}
.btn:hover {
  background-color: RoyalBlue;
}
.btn a {
  font-size: 2vh;
  color: white;
  text-decoration: none;
}

a,
a:hover,
a:active,
a:focus {
  /* display: flex; */
  text-decoration: none;
  color: #444a57;
  font-size: 20px;
  padding: 0;
  font-weight: 500;
  text-transform: capitalize;
}
ul {
  margin: 0 auto;
  list-style: none;
}
ul li {
  list-style: none;
  display: inline-block;
}

nav.navbar.bootsnav {
  background-color: transparent;
  border-bottom: transparent;
}
.wrap-sticky nav.navbar.bootsnav.sticked {
  background-color: #000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

/*.navbar-brand*/

.navbar-header a.navbar-brand,
.navbar-header a.navbar-brand:hover,
.navbar-header a.navbar-brand:focus {
  display: inline-block;
  color: #ff1493;
  font-size: 4vh;
  letter-spacing: 3px;
  font-family: "Sofia", sans-serif;
  font-weight: 700;
  float: left;
}

.navbar-header a.navbar-brand span {
  display: inline-block;
  color: #4e4ffa;
  text-transform: capitalize;
}

.wrap-sticky nav.navbar.bootsnav.sticked .navbar-header a.navbar-brand,
.wrap-sticky nav.navbar.bootsnav.sticked .navbar-header a.navbar-brand:hover,
.wrap-sticky nav.navbar.bootsnav.sticked .navbar-header a.navbar-brand:focus {
  padding: 30px 0px;
}

nav.navbar.bootsnav ul.nav li a {
  color: #f5f7fa;
  font-size: 4vh;
  font-weight: 500;
  -webkit-transition: 0.3s linear;
  -moz-transition: 0.3s linear;
  -ms-transition: 0.3s linear;
  -o-transition: 0.3s linear;
  transition: 0.3s linear;
}
nav.navbar.bootsnav ul.nav > li > a {
  padding: 40px 5vh;
}
nav.navbar.bootsnav ul.nav > li > a:hover,
nav.navbar.bootsnav ul.nav > li > a:focus {
  color: blue;
}

/* nav.navbar.bootsnav ul.nav > li.dropdown > a.dropdown-toggle:after {
  content: "";
}
nav.navbar.bootsnav ul.nav > li.dropdown span {
  font-size: 8px;
  margin-left: 15px;
  
}
.wrap-sticky nav.navbar.bootsnav.sticked ul.nav > li > a{padding:30px 25px;}
.menu-ui-design{overflow-y:scroll;height: 350px;}
.menu-ui-design::-webkit-scrollbar {
  width:5px;
} */
.menu-ui-design::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 8px #000;
}
.menu-ui-design::-webkit-scrollbar-thumb {
  background-color: #4e4ffa;
}

/* nav.navbar.bootsnav .navbar-toggle {
  position: relative;
  background-color: transparent;
  border: 1px solid #4e4ffa;
  padding: 10px;
  top: 0;
}
nav.navbar.bootsnav .navbar-toggle i {
  color: #4e4ffa;
} */

.welcome-hero {
  display: grid;
  place-content: center;
  text-align: center;
  /* margin-top: 100px; */
  position: relative;
  background: url(./images/IMG_20230331_155006.jpg);
  background-position: center;
  background-size: cover;
  z-index: 1;
  min-height: 80vh;
}

.welcome-hero:before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(92, 93, 106, 0.632);
}
.header-area {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
}

/*.welcome-hero-txt*/
.welcome-hero-txt {
  text-align: center;
  padding: 290px 0 372px;
}
.welcome-hero-txt h2 {
  font-size: 6vh;
  color: yellow;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 45px;
}
.welcome-hero-txt p {
  font-size: 4.5vh;
  text-transform: initial;
  color: #edd4d4ef;
  font-weight: 500;
  /* max-width: 735px; */
  margin: 0 auto;
}
*{
  box-sizing: border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing: border-box;
}
header {
  background-color: #dfb0da;
  text-align: center;
  padding: 1vh;
}
.navbar-header {
  display: flex;
  align-items: center;
}

.navbar-brand {
  color: #fff;
  font-size: 2.5vh;
  text-decoration: none;
  margin-right: auto;
}

.box-menu{ 
    background-color: #dfb0da;
 }
 .box-menu ul{ 
    display: flex;
    list-style: none;
    color: #fff;
    padding: 0;
    margin: 0;
 }
 .box-menu ul li{ 
  text-align: center;
  padding: 1vh 2vh;
  position: relative;
 }

 .box-menu ul li a{ 
    color: #fff;
    font-size: 2.5vh;
    display: block;
    text-decoration: none;
 }
.box-menu ul li:hover{ 
    background:#3406D1;
    border-radius: 3px;
}
 .box-submenu{
    display: none;
    background: #0B2FD2;
 }
 .box-menu ul li:hover .box-submenu{
    display: block;
}
.box-submenu ul{
  list-style: none;
  padding: 0;
  margin: 0;
}
.box-submenu ul li {
  width: 100%;
  text-align: left;
  border-bottom: dotted 1px #fff;
  background: transparent;
  padding: 15px;
  /* display: none; */
}
.box-submenu ul li:last-child {
  border-bottom: none;
}
.box-submenu ul li a {
  color: #fff;
  text-decoration: none;
  display: block;
}
.box-submenu ul li:hover {
  background: #0733f6;
}
.fa-angle-right {
  float: right;
  font-size: 2vh;
}

.box-submenu-2,
.box-submenu-3 {
  display: none;
}
.box-menu ul li:hover .box-submenu ul li.submenu-hover:hover .box-submenu-2,
.box-menu ul li:hover .box-submenu ul li.submenu-hover:hover .box-submenu-3 {
    display: block;
}
.box-menu ul li:hover .box-submenu ul{
    display: block;
    margin: 0px;
    padding: 0px;
}
.box-menu ul li:hover .box-submenu ul li{
    width: 100%;
    text-align: left;
    border-bottom: dotted 1px #fff;
    background: transparent;
    border-radius: 0;
    padding: 15px;
    margin-left: 0;
}
.box-menu ul li:hover .box-submenu ul li:last-child{
  border-bottom: none;
}
.box-menu ul li:hover .box-submenu ul li a:hover{
  color: yellowgreen;
}
